@model BeanSceneDipAssT2.Models.EditSittingViewModel

@{
    ViewData["Title"] = "Manage List";
}

<h1>Manager Page</h1>

<div class="TopRight">
    <a class="btn col-" style="margin: 5px;" href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
</div>
<h3>Edit Sittings:</h3>
@foreach (var s in Model.AllSittings)
{
    <a class="btn btn-d " style="margin: 5px; width: 30%;" asp-action="EditSitting" asp-controller="Manager" asp-route-id="@s.SittingID">Change @s.SittingName Duration</a>
}
<hr />
<h3>General:</h3>
<div>
    <a class="btn col-" style="margin: 5px;" asp-action="MReservations" asp-controller="Manager">Manage Reservations</a><br />
    <a class="btn" style="margin: 5px;" asp-action="RolesDetails" asp-controller="Admin">Manage Employees</a><br />
    <a class="btn col-" style="margin: 5px;" asp-action="Report" asp-controller="Manager">Report</a><br />
</div>
<br />

@*
                                                search algorithm
    <form method="post">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3">Search a reservation by ID:</label>
                <input asp-for="@Model.SittingID" type="number" min="1" value="@Model.SittingID" class="form-control col-md-6" />
                <a class="btn col-2" style="margin: 5px;" asp-action="SearchByID" asp-controller="Booking" asp-route-USerID="@Model.SittingID">Search</a>
            </div>
        </div>
    </form>
*@